body{

    font-family:Arial;

    text-align:center;

}

.light{

    background:white;

    color:black;

    border:1px solid black;

}

.dark{

    background:black;

    color:white;

    border:1px solid white;

}

button{

    padding:10px 20px;

    margin:10px;

    cursor:pointer;

}